.navbar-inner{

background-image: linear-gradient(bottom, rgb(50,112,179) 44%, rgb(158,205,255) 100%, rgb(118,171,227) 78%);
background-image: -o-linear-gradient(bottom, rgb(50,112,179) 44%, rgb(158,205,255) 100%, rgb(118,171,227) 78%);
background-image: -moz-linear-gradient(bottom, rgb(50,112,179) 44%, rgb(158,205,255) 100%, rgb(118,171,227) 78%);
background-image: -webkit-linear-gradient(bottom, rgb(50,112,179) 44%, rgb(158,205,255) 100%, rgb(118,171,227) 78%);
background-image: -ms-linear-gradient(bottom, rgb(50,112,179) 44%, rgb(158,205,255) 100%, rgb(118,171,227) 78%);

background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.44, rgb(50,112,179)),
	color-stop(1, rgb(158,205,255)),
	color-stop(0.78, rgb(118,171,227))
);
}




.divider-vertical{
	background-color: #3270b3 !important;
	}

.navbar .divider-vertical {
height: 16px;
width: 1px;
margin: 12px 9px;
overflow: hidden;
background-color: white;
border-right: 1px solid #6A98C8;
}


.navbar .nav .active > a, .navbar .nav .active > a:hover {
background-image: linear-gradient(bottom, rgb(50,112,179) 44%, rgb(43,96,153) 18%);
background-image: -o-linear-gradient(bottom, rgb(50,112,179) 44%, rgb(43,96,153) 18%);
background-image: -moz-linear-gradient(bottom, rgb(50,112,179) 44%, rgb(43,96,153) 18%);
background-image: -webkit-linear-gradient(bottom, rgb(50,112,179) 44%, rgb(43,96,153) 18%);
background-image: -ms-linear-gradient(bottom, rgb(50,112,179) 44%, rgb(43,96,153) 18%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.44, rgb(50,112,179)),
	color-stop(0.18, rgb(43,96,153))
);
height: 24px;

}
	
.navbar-search .search-query {
	background-color: white;
	border: #efefef;
	}
	
.navbar-search .search-query:focus, .navbar-search .search-query.focused {
	color: black;	
}
	

.a{
	color: ;
}

.navbar .nav > li > a {
float: none;
padding: 10px 10px 11px;
line-height: 24px;
color: white;
text-decoration: none;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
font-size: 1em;
text-transform: uppercase;
}

ul {
list-style: none;
}





